{% extends "AppBundle:Frontend:layout.html.twig" %}

{% block title %}
  <h2>Recupera tu cuenta</h2>  
{% endblock%}    

{% block body %}
<!-- Contact Form -->
<div class="container">
    <div class="eight columns">
        <div class="extra-padding left">
        <!-- Information -->
            <!-- Contact Form -->
            <section id="contact">
                <!-- Success Message -->
                {% if error %}
                    <div><em style="color: red ">{{error}}</em><br/></div> 
                {% endif %}
                <!-- Form -->
                <form action="" method="post">
                    <fieldset>
                        <div>
                            <label>Email:</label>
                            <input name="email" type="text"  id="username" />
                        </div>
                    </fieldset>
                    <div id="result"></div>
                            <input type="submit" class="submit" id="submit" value="recuperar" />
                    <div class="clearfix"></div>
                </form>  
            </section>
        <!-- Contact Form / End -->
        </div>
    </div>
</div>
<!-- Container / End -->
{% endblock %}
